.header {
    padding: 20px 0;
    color: #fff;
    min-height: 70px;
    background: #007bff;
    position: relative;
}

header .btn {
    background: #fff;
    color: black;
}

.cart_list {
    display: none;
    width: 200px;
    height: 300px;
    background:#fff;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 500px;
    border: 1px solid black;
    border-radius: 5px;
    color: #000;
}

.cart_list.show {
    display: block;
}

.card {
    width: 18rem;
    margin-top: 10px;
}

.card img {
    height: 200px;
}
